h2{
    color: dodgerblue;
}
.centered{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input{
  margin-bottom: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  height:45px;
  font-size: 20px;
}
::placeholder {
  color: black;
  font-weight: bold;
}